<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/mkovalyshyn/IdeaProjects/programm_ATQC/src/main/java/TestNG_groups/TestNGParallelTesting.java">
        <classes>
            <class name="TestNG_groups.TestNGParallelTesting">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>